<template name="about">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">About Divvy</a></h1>
				<span>The IT3 Studio Inc. story</span>
			</div>
		</div>
	</div>
	<div id="showcase" class="stars-active">
		<div class="stars" id="stars1"></div>
		<div class="stars" id="stars2"></div>
		<div class="stars" id="stars3"></div>
		<div class="stars" id="stars4"></div>
	</div>
	<div class="landing-row lighter">
		<div class="row-content">
			<div class="left">
				<h5>Greetings from Germany, Portugal, United Kingdom, Ghana, Syria, and Palestine.</h5>
				<p>IT3 Studio Inc. is a band of young programmers from all over the globe. The team is dedicated to creating systems to add value to their consumer's daily lives. These young programmers have worked together for 3 years, working on unique and creative projects.</p>
			</div>
			<div class="right">
				<img class="landing-images" src="/images/about/inter.svg">
			</div>
		</div>
	</div>
	<div class="landing-row darker">
		<div class="row-content">
			<p>Starting from creating a simple website for a university, the IT3 Studio has launched into new areas of IT. With their brand new Divvy Knowledge Management System, this is their most advanced system yet, helping you collaborate with your coworkers and automatically get the most important ideas and problems seen by the people who can help the most.</p>
		</div>
	</div>
	<div class="landing-row lighter">
		<div class="row-content">
			<div class="left">
				<img class="landing-images" src="/images/about/projects.svg">
			</div>
			<div class="right">
				<h5>Projects</h5>
				<p>Home Automation Project, allows consumers to control their home remotely from their smartphone, tablet, laptop, or desktop computer.  <br><br></p>
				
				<p>Hacker Honeypot Project, which tracked what hackers would do to a system when they gained accessed. To learn and understand how to best project your system from invaders. <br><br></p>

				<p>Project Stepoid, a health and fitness app which tracks your jogging route, speed, calories burned, and total KM walked. The perfect app to track your fitness progress. <br><br></p>
			</div>
		</div>
	</div>
</template>